.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_open {
  visibility: visible;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  border-radius: 20px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.modal__title {
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__close-btn {
  position: absolute;
  top: 20px;
  right: 28px;
  height: 20px;
  width: 20px;
  background-image: url("../../assets/close-button.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.modal__close-btn:hover {
  cursor: pointer;
}

.modal__label {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__input {
  width: 100%;
  display: block;
  margin-top: 8px;
  padding: 0px 0px 4px;
  border: none;
  border-bottom: 1px solid #000;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #00000080;
}

.modal__input:focus {
  outline: none;
}

.modal__radio-btns {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.modal__legend {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 12px;
}

.modal__label_type_radio {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #00000080;
}

.modal__radio-input {
  margin-right: 8px;
  accent-color: #000;
}

.modal__radio-input:hover {
  cursor: pointer;
}

/* select the radio label text if the radio input is checked */
.modal__label_type_radio:has(.modal__radio-input:checked) {
  color: #000;
}

.modal__submit-btn {
  width: 124px;
  padding: 8px 16px;
  color: #fff;
  background-color: #000;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-radius: 4px;
}

.modal__submit-btn:hover {
  background-color: #00000099;
  cursor: pointer;
}

.modal__submit-btn:disabled {
  background-color: #0000004d;
}

@media screen and (max-width: 630px) {
  .modal {
    align-items: flex-end;
  }

  .modal__content {
    border-radius: 12px 12px 0 0;
    padding: 32px 16px;
  }

  .modal__title {
    font-size: 20px;
    margin-bottom: 13px;
  }

  .modal__close-btn {
    background-image: url("../../assets/close-button-black.svg");
  }

  .modal__submit-btn {
    width: 100%;
    margin-top: 6px;
    padding: 12px 0;
  }
}
