.cards__text {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin: 40px 0 34px;
}

.cards__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 21px;
}

@media screen and (max-width: 500px) {
  .cards__text {
    margin: 20px 0;
    font-size: 18px;
  }

  .cards__list {
    gap: 15px;
  }
}
