.modal__content_type_image {
  padding: 0;
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
}

.modal__item {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  padding: 0 20px;
}

.modal_open {
  visibility: visible;
}

.modal__close-btn_type_image {
  top: 24px;
  right: 24px;
}

.modal__image {
  max-width: 100%;
  object-fit: contain;
  -webkit-user-drag: none;
  user-select: none;
}

.modal__footer {
  padding: 20px 32px 32px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.modal__footer-bar {
  display: flex;
  justify-content: space-between;
}

.modal__delete-btn {
  padding: 0;
  color: #ff4d00;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  background-color: transparent;
}

.modal__delete-btn:hover {
  cursor: pointer;
}

.modal__name {
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__temp {
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

@media screen and (max-width: 630px) {
  .modal__content_type_image {
    max-width: 335px;
  }

  .modal__footer {
    padding: 20px 20px 40px;
  }

  .modal__close-btn_type_image {
    background-image: url("../../assets/close-button-black.svg");
  }
}
