.sidebar {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-right: 20px;
}

.sidebar__user-container {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  column-gap: 16px;
  justify-content: flex-end;
}

.sidebar__username {
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
}

.sidebar__avatar-img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 2px solid #00000080;
}

.sidebar__default-avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 2px solid #00000080;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.sidebar__change-profile-btn {
  padding: 0;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  background-color: transparent;
  border: none;
  text-align: left;
}

.sidebar__change-profile-btn:hover {
  cursor: pointer;
}

.sidebar__logout-btn {
  padding: 0;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  background-color: transparent;
  border: none;
  text-align: left;
}

.sidebar__logout-btn {
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .sidebar {
    padding: 20px 0;
    border-top: 1px solid #0000004d;
    border-bottom: 1px solid #0000004d;
    margin-right: 0;
  }

  .sidebar__username {
    margin-bottom: 4px;
  }

  .sidebar__change-profile-btn {
    display: block;
  }

  .sidebar__logout-btn {
    display: block;
  }
}
