.footer {
  margin-top: 85px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.footer__dev-text {
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  vertical-align: bottom;
}

.footer__year {
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  vertical-align: bottom;
}

@media screen and (max-width: 630px) {
  .footer {
    margin-top: 147px;
    padding-bottom: 20px;
  }
}
