.clothes-section {
  max-width: 1015px;
}

.clothes-section__header {
  display: flex;
  column-gap: 20px;
  margin-bottom: 16px;
}

.clothes-section__header-text {
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.clothes-section__add-clothes-btn {
  padding: 0;
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #00000099;
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 630px) {
  .clothes-section {
    margin-top: 20px;
  }

  .clothes-section__header {
    justify-content: space-between;
  }
}
